.coffee-wrapper {
    background-color: #3d4f58 ;
    width:95%;
    height:auto;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    padding:50px;
    align-items: center;
    
}